<nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/pizzas">Pizzas</NavLink></li>
        <li><NavLink href="/myorders">My Orders</NavLink></li>
    </ul>
</nav>
